{
  "SECRET_KEY": "",
  "DB_NAME": "",
  "DB_USER": "",
  "DB_PASSWORD": "",
  "DB_HOST": "",
  "DB_PORT": "",
  "ASSETS_ROOT": "",
  "EMAIL_HOST": "",
  "EMAIL_HOST_USER": "",
  "EMAIL_HOST_PASSWORD": "",
  "EMAIL_PORT": null,
  "EMAIL_USE_TLS": false,
  "DEFAULT_FROM_EMAIL": "",
  "ALLOWED_HOSTS": [],
  "ADMINS": [
    ["", ""]
  ]
}
