{% load staticfiles %}
{% load compressed %}
<!doctype html>
<html>
    <head>
        <title>{% block page_title %}{% endblock page_title %} | UNT Choropleths</title>
        <meta name="viewport" content="width=device-width">
        {% compressed_css  'main' %}
        {% compressed_js 'vendor' %}
        {% compressed_js 'app' %}
        {% block head %}{% endblock head %}
    </head>
    <body ng-app="App">
        {% include 'partials/navbar.html' %}
        <div class="container">
            <div class="row">
                {% block ng-app %}{% endblock ng-app %}
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    {% block workflow %}{% endblock workflow %}
                    {% block content %}
                        <div class="row">
                            <div class="col-sm-6">
                                <h1>
                                    {% block header %}{% endblock header %}
                                </h1>
                            </div>
                            <div class="col-sm-6">
                                <div class="pull-right">
                                    <div class="control-btns">
                                        {% block control-btns %}{% endblock control-btns %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if noHorizontalRule %}
                            <br>
                        {% else %}
                            <hr>
                        {% endif %}
                    {% endblock content %}
                </div>
                <div class="col-sm-1"></div>
            </div>
            {% block pagination %}{% endblock pagination %}
        </div>
        <div id="loader">
            <img src="{% static "img/loader.gif" %}">
        </div>
        {% include 'partials/footer.html' %}
        {% block scripts %}{% endblock scripts %}
    </body>
</html>


