<div class="row hidden" is-firefox>
  <div class=col-sm-12">
    <div class="alert alert-warning alert-dismissable">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      <div class="message-text">
        <p class="text-center"><strong>It looks like you are using Firefox!</strong></p>
        <p>Unfortunately, Firefox does not handle SVG as well as some other browsers. SVG is the technology that is used to create the maps featured on this site, so in order to provide you with a pleasant user experience, we suggest you use another browser such as Google Chrome.</p>
      </div>
    </div>
  </div>
</div>
    
