{% load static %}
<nav id="footer" class="navbar navbar-default navbar-fixed-bottom" role="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-9 col-sm-3">
                <a class="navbar-text pull-right" href="http://library.unt.edu/">
                    <img src="{% static 'img/unt-libraries-lockup.png' %}" alt="UNT Libraries">
                </a>
                <p class="navbar-text pull-right"><a href="mailto:mark.phillips@unt.edu?subject={{ "Texas Choropleth: Issue"|urlencode }}">Report an issue</a></p>
            </div>
        </div>
    </div>
</nav>
