<div class="modal fade" id="in-progress" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header"></div>
                <div class="modal-body">
                {% if message %}
                    <p class="text-center">{{ message }}</p>
                {% else %}
                    <p class="text-center">Saving...</strong></p>
                {% endif %}

                {% if http %}
                    <div loading="http"></div>
                {% else %}
                    <div loading></div>
                {% endif %}
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
