{% extends "registration/_layout.html" %}
{% block page_title %}Login{% endblock page_title %}

{% block content %}
{{ block.super }}
{% endblock content %}

{% block registration %}
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}" name="login">
        {% csrf_token %}
            {% include "partials/messages.html" %}
            <h3>Login</h3>
            <div class="form-group" has-error>
                <div class="label label-danger">{{ form.username.errors.as_text }}</div>
                <input type="text" name="username" class="form-control" placeholder="Username">
            </div>
            <div class="form-group" has-error>
                <div class="label label-danger">{{ form.password.errors.as_text }}</div>
                <input type="password" name="password" class="form-control" placeholder="Password">
                <ul class="list-unstyled pull-right">
                    <li><a href="{% url 'password_reset_recover' %}">Forgot password</a></li>
                    {# <li><a href="{% url 'register' %}">Register</a></li> #}
                </ul>
            </div>
            <input type="submit" class="btn submit" value="Submit" />
            <input type="hidden" name="next" value="{{ next  }}" />
    </form>
{% endblock registration %}
