{% extends "_layout.html" %}

{% block content %}

<div class="row">
    {% if form.errors %}
    <p class="col-sm-6 col-sm-offset-3 alert alert-danger">Your username and password didn't match. Please try again.</p>
    {% endif %}
</div>

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    <div class="col-sm-6 col-sm-offset-3">
        <div class="form-group">
            <input type="text" name="username" class="form-control" placeholder="username">
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="password">
        </div>
        <input type="submit" class="btn btn-default" value="login" />
        <input type="hidden" name="next" value="{{ next  }}" />
    </div>
</form>

{% endblock %}
