{% extends "_layout.html" %}

{% block content %}

<div class="row">
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="col-sm-6 col-sm-offset-3 alert alert-danger">{{ error }}</p>
        {% endfor %}
    {% endif %}
</div>

<form method="post" action="{% url 'django.contrib.auth.views.login' %}" name="login">
    {% csrf_token %}
    <div class="col-sm-6 col-sm-offset-3">
        <h3>Login</h3>
        <div class="form-group" has-error>
            <div class="label label-danger">{{ form.username.errors.as_text }}</div>
            <input type="text" name="username" class="form-control" placeholder="Username">
        </div>
        <div class="form-group" has-error>
            <div class="label label-danger">{{ form.password.errors.as_text }}</div>
            <input type="password" name="password" class="form-control" placeholder="Password">
            <div class="pull-right"><a href="{% url 'register' %}">Register</a></div>
        </div>
        <input type="submit" class="btn btn-default" value="Submit" />
        <input type="hidden" name="next" value="{{ next  }}" />
    </div>
</form>

{% endblock %}
