{% extends "_layout.html" %}
{% load compressed %}
{% block page_title %}{{ choropleth.name }}{% endblock page_title %}

{% block head %}
{% compressed_js 'map-vendor' %}
{% compressed_js 'map' %}
{% endblock head %}

{% block header %}
    {{ choropleth.name }}
{% endblock header %}

{% block control-btns %}
    <a href="{% url 'choropleths:choropleth-edit' choropleth.pk %}">
        <button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit</button>
    </a>
    {% ifequal user choropleth.owner %}
        <a href="{% url 'choropleths:choropleth-view' choropleth.pk %}">
            <button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;View</button>
        </a>
    {% endifequal %}
{% endblock control-btns %}

{% block content %}
{{ block.super }}

    <section class="row">
        <dl class="dl-horizontal col-sm-5">
            <dt>Created</dt><dd>{{ choropleth.created_at|date:'m/d/Y' }}</dd>
            <dt>Last Modified</dt><dd>{{ choropleth.modified_at|timesince }} ago</dd>
            <dt>Dataset</dt><dd>{{ choropleth.dataset }}</dd>
            <dt>Cartogram</dt><dd>{{ choropleth.dataset.cartogram.name}}</dd>
            <dt>Published</dt><dd>{{ choropleth.get_published_display }}</dd>
            <dt>Scheme</dt><dd>{{ choropleth.scheme }}</dd>
            <dt>Palette</dt><dd>{{ choropleth.palette }}</dd>
            <dt>Data Classes</dt><dd>{{ choropleth.data_classes }}</dd>
            <dt>Owner</dt><dd>{{ choropleth.owner }}</dd>
        </dl>
        <div class="col-sm-7">
            <div class="panel panel-default">
                <div class="panel-heading">Dataset Description</div>
                <div class="panel-body">
                    {{ choropleth.dataset.description }}
                </div>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="col-sm-12">
            <div class="panel panel-default" ng-app="d3MappApp">
                <div class="panel-heading">Description</div>
                <div class="panel-body">
                    <markdown>{{ choropleth.description }}</markdown>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
