{% extends "_layout.html" %}
{% block page_title %}Choropleths{% endblock page_title %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1>
            Choropleths
            <a class="pull-right" href="{% url 'datasets:dataset-create' %}">
                <button class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-plus"></span>
                    New Dataset
                </button>
            </a>
        </h1>
    </div>
</div>
    <table class="table list">
        {% for choropleth in object_list %}
        <tr>
            <td>
                <a href="{% url "choropleths:choropleth-detail" choropleth.id %}">
                    <h3>{{ choropleth.name }}
                        <small class="cartogram-label"><em>{{ choropleth.dataset.cartogram }}</em></small>
                    </h3>
                </a>
                <div class="col-sm-offset-1">
                    <h5 class="item-description">{{ choropleth.description|truncatechars:250 }}
                    </h5>
                </div>
            </td>
            <td class="vcenter">
                <a href="{% url 'choropleths:choropleth-view' choropleth.id %}">
                    <button class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> View</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}
