{% extends "_layout.html" %}
{% load compressed %}
{% block page_title %}Choropleth{% endblock page_title %}

{% block head %}
{% compressed_js 'map-vendor' %}
{% compressed_js 'map' %}
{% compressed_css 'colorbrewer' %}
{% endblock head %}

{% block content %}
<h2>{{ choropleth.name }}
    <div class="btn-group pull-right">
        {% if choropleth.owner.id == user.id %}
        <a  href="{% url 'choropleths:choropleth-edit' choropleth.id %}">
            <button class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit
            </button>
        </a>
        {% endif %}
        {% if choropleth.dataset.published %}
        <a  href="{% url 'datasets:dataset-detail' choropleth.dataset_id %}">
            <button class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-book"></span>&nbsp;Dataset
            </button>
        </a>
        {% endif %}
    </div>
</h2>
    <div ng-app="d3MappApp" class="col-sm-12" id="choropleth-wrapper">
        <form ng-controller="ViewController" ng-init="init({{ choropleth.id }})">

            {% include  'partials/choropleth.html' %}
            <markdown description="choropleth.description"></markdown>
        </form>
    </div>
{% endblock content %}

