{% extends "_list-layout.html" %}
{% block page_title %}Gallery{% endblock page_title %}

{% block header %}
    Gallery
{% endblock header %}

{% block object_name %}
    <a href="{% url 'choropleths:choropleth-view' object.id %}">
        {{ object.name }}
    </a>
{% endblock object_name %}

{% block object_description %}
    {{ object.dataset.description|truncatechars:140 }}
{% endblock object_description %}

{% block list_item_icons %}
    <a href="{% url 'choropleths:choropleth-detail' object.id %}">
        <span class="glyphicon glyphicon-file"></span>
    </a>
    <a href="{% url 'choropleths:choropleth-view' object.id %}">
        <span class="glyphicon glyphicon-globe"></span>
    </a>
    <a href="{% url 'datasets:dataset-detail' object.dataset.id %}">
        <span class="glyphicon glyphicon-book"></span>
    </a>
{% endblock list_item_icons %}

{% block content %}
{% with noHorizontalRule=True %}
{{ block.super }}
{% endwith %}
{% endblock content %}

