{% extends "_layout.html" %}
{% load staticfiles %}
{% block page_title %}Help{% endblock page_title %}

{% block header %}Help{% endblock header %}

{% block content %}
{{ block.super }}
<section>
    <h3>Clarification of Terms</h3>
</section>
<section id="scale">
    <h4>Scale</h4>
    <p>The scale choice is crucial in determining how effective the choropleth is. Based on the nature of your dataset, you will want to choose one of the following to make the map more meaningful.</p>
    <h5><strong>Quantized</strong></h5>
    <p>This is a variant of a linear scale. Instead of a continuous domain, like a linear scale, the input domain is divided equally into the number of specified classes. Eventually, each class is differentiated by a specific color in the choropleth. This scale is available for any dataset.</p>
    <h5><strong>Logarithmic</strong></h5>
    <p>A nonlinear scale based on the orders of magnitude unlike a standard linear scale. This scale can be useful when dataset values grow exponentially. Because the logarithmic scale output approaches inifinity as the input approaches 0, this scale is only available to datasets where the values are exclusively negative, or exclusively positive.</p>
</section>

<section id="scheme">
    <h4>Scheme</h4>
    <p>The schemes used in this app, are the same schemes that Cynthia Brewer used to develop and explain the ColorBrewer palettes, which are also used in this app.</p>
    <h5 id="sequential"><strong>Sequential</strong></h5> 
    <p>This scheme represents a collection of palettes that that appear to increase in magnitude. Here is how Cynthia Brewer describes it.</p>
    <blockquote class="help-quote">"{% include "partials/help/_scheme-sequential.html" %}"<sup>1</sup>
    </blockquote>
    <h5 id="diverging"><strong>Diverging</strong></h5>
    <p>This is most suitable for a dataset that hovers back and forth over a median value. One example of a Diverging dataset is Rebublicans vs. Democrats,  where red represents Republicans, blue represents Democrats, and white represents Independents. Here is Brewer's description:</p>
    <blockquote class="help-quote">"{% include "partials/help/_scheme-diverging.html" %}"<sup>1</sup>
    </blockquote>
    <h5 id="qualitative"><strong>Qualitative</strong></h5>
    <p>This scheme is best for representing categories, such as religious affiliations. Each category is represented by a different color, but not in a way that assumes magnitude. Brewer explains further ...</p>
    <blockquote class="help-quote">"{% include "partials/help/_scheme-qualitative.html" %}"<sup>1</sup>
    </blockquote>
</section>

<section id="palette">
    <h4>Palette</h4>
    <p>A palette, in the context of this application, is a collection of colors that was intentially assembled to communicate the scheme. This application uses the palettes that Cynthia Brewer has created specifically designed for maps. See <a href="http://colorbrewer2.org/">ColorBrewer</a> for more information.</p>
</section>

<section id="classes">
    <h4>Classes</h4>
    <p>For choropleths that employ the Quantized scale, the number of classes determines the number of groups that your dataset is broken into, thus how many colors will be represented. The number of classes available is determined by the palette. Each palette includes at least 3 and as many as 12 classes.</p>
</section>
<hr>
<section>
    <h4>References</h4>
    <ol>
        <li>Brewer, Cynthia. "Color Scheme Types - ColorBrewer." <em>Color Scheme Types - ColorBrewer</em>. N.p., n.d. Web. 23 Oct. 2014.</li>
    </ol>
</section>

{% endblock content %}
