@import "../vendor/bootstrap/less/bootstrap.less";

@icon-font-path: "../vendor/bootstrap/dist/fonts/";

@border-radius-base: 0px;
@border-radius-large: 0px;
@border-radius-small: 0px;

@bootstrap-grey: #e7e7e7;


html {
}

.navbar-default {
    background-color: #FFF;
}

h1 {
}

#counties {
    fill: none;
    stroke: #CCC;
    stroke-width: 1px;
}

#choropleth-wrapper {
    #name {

        margin-bottom: 1.7em;
    }

    #choropleth {
        border: @gray-lighter solid 1px;
        margin-bottom: .5em;
        clear: both;

        path:hover {
            fill: @gray-lighter;
        }
    }

    .choropleth-description {
        height: 20em;
    }

    #submission-btns {
        margin-top: 1.9em;
    }
}



.list {
    .item-description {
        .text-muted;
        font-size: @font-size-base + 3;
    }

    cartogram-label {

    }

    tr > td.vcenter {
        vertical-align: middle;
        text-align: center;

        a {
            .pull-right;
        }

    }
}

.dataset {
    clear: both;
    height: 27em;
    overflow-y: scroll;
    border: @gray-lighter solid 1px;
}

.dataset-message {
    padding-top: (27em / 2) - 1;
    display:block;
    width: 100%;
    clear: both;
    text-align: center;
    vertical-align: middle;

    .text-muted
}

.label-cartogram {
    .label-default;
    border-radius: 0px;
    font-weight: lighter;
    font-size: 65%;
    padding: .1em .6em .2em;
}
