@import "../vendor/bootstrap/less/bootstrap.less";

@icon-font-path: "../vendor/bootstrap/dist/fonts/";

@border-radius-base: 0px;
@border-radius-large: 0px;
@border-radius-small: 0px;

@bootstrap-grey: #e7e7e7;


html {
}

.navbar-default {
    background-color: #FFF;
}

#counties {
    fill: none;
    stroke: #CCC;
    stroke-width: 1px;
}

#choropleth {
    border: @bootstrap-grey solid 1px;
    margin-bottom: .5em;
    clear: both;
}

path:hover {
    fill: orange;
}

.list {
    tr > td.vcenter {
        vertical-align: middle;
        text-align: center;

        a {
            .pull-right;
        }
    }
}
