<form name="form" novalidate>
    {% csrf_token %}
    <div id="top-form-wrapper"class="form-horizontal">
       <div id="submission-btns" class="pull-right">

           {% if not create %}

                <a  type="button" class="btn navigate" href="{% url 'datasets:dataset-detail' choropleth.dataset_id %}">
                    <span class="glyphicon glyphicon-book"></span>&nbsp;Dataset
                </a>

                <button class="btn action" data-toggle="modal" data-target="#delete-choropleth-form" >
                    <span class="glyphicon glyphicon-remove"></span>&nbsp;Delete
                </button>

            {% endif %}

            <button class="btn action" ng-click="submit()" ng-disabled="!form.$valid">
                <span class="glyphicon glyphicon-save"></span>&nbsp;Save
            </button>
        </div>
        <div class="form-group" >
            <div class="col-lg-5" ng-class="{'has-error': form.name.$invalid && !form.name.$pristine}">
               <label for="name" class="control-label">Name</label>
                <input class="form-control" type="text" name="name" value="{{ choropleth.name }}" ng-maxlength="96" ng-model="choropleth.name" required>
           </div>
           <div class="col-lg-3" ng-class="{'has-error': form.published.$invalid && !form.published.$pristine}">
               <label for="published" class="control-label">Published</label>
               <select class="form-control" name="published" ng-model="choropleth.published">
                       <option value="0">No</option>
                       <option value="1">Yes</option>
               </select>
           </div>
        </div>
    </div>

    {% include  'choropleths/_choropleth.html' %}


    <section class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-target="#control-body"><span class="glyphicon glyphicon-cog"></span>&nbsp;Map Controls</a>
            </div>
            <div id="control-body" class="panel-body text-center collapse in">
                {# Scale Select #}
                <div class="form-group col-xs-3" ng-class="{'has-error': form.scale.$invalid && !form.scale.$pristine}">
                    <label for="scale" class="control-label">Scale</label>
                    <a href="{% url "help" %}#scale" target="_blank"><span class="glyphicon glyphicon-info-sign form-info" data-toggle="tooltip" title="Scale Help" tooltip ></span></a>
                    <select class="form-control" name="scale" ng-model="choropleth.scale" ng-options="scale.id as scale.name for scale in scales" required>
                    </select>
                </div>

                {# Scheme Select #}
                <div class="form-group col-xs-3">
                    <label for="scheme" class="control-label">Scheme</label>
                    <a href="{% url "help" %}#scheme" target="_blank"><span class="glyphicon glyphicon-info-sign form-info" data-toggle="tooltip" title="Scheme Help" tooltip ></span></a>
                    <select class="form-control" name="scheme" ng-model="choropleth.scheme" ng-change="getSchemePalettes(choropleth.scheme)" ng-options="scheme.id as scheme.name for scheme in schemes" required>
                    </select>
                </div>

                {# Palette Select #}
                <div class="form-group col-xs-3">
                    <label for="palette" class="control-label">Palette</label>
                    <a href="{% url "help" %}#palette" target="_blank"><span class="glyphicon glyphicon-info-sign form-info" data-toggle="tooltip" title="Palette Help" tooltip ></span></a>
                    <select class="form-control" name="palette" ng-model="choropleth.palette" ng-change="findPalette(choropleth.palette)" ng-options="palette.id as palette.name for palette in palettes" required>
                    </select>
                </div>

                {# Quantized Scale only #}
                <div id="quantize-options" ng-show="choropleth.scale < 1">
                    {# Range Select #}
                    <div class="form-group col-xs-3" ng-class="{'has-error': form.range.$invalid && !form.range.$pristine}">
                        <label for="range" class="control-label"># of Classes</label>
                    <a href="{% url "help" %}#classes" target="_blank"><span class="glyphicon glyphicon-info-sign form-info" data-toggle="tooltip" title="Classes Help" tooltip ></span></a>
                        <select class="form-control" name="range" ng-model="choropleth.data_classes" ng-options="n for n in range.options" required>
                        </select>
                    </div>
                </div>

                {# Non-Quantized Scale only #}
                <div id="non-quantize-options" ng-show="choropleth.scale > 0">
                {# Tune Slider #}
                    <div class="form-group col-xs-3" ng-class="{'has-error': form.range.$invalid && !form.range.$pristine}">
                        <label for="range" class="control-label">Color Adjustment</label>
                        <input  name="range" type="range" ng-model="choropleth.data_classes" min="3" max="8" required>
                        </select>
                    </div>
                </div>
            <div>
        </div>
    </section>

    {# Mardown description  #}
    <ul class="nav nav-tabs" role="tablist">
        <li ng-class="{active: tab == 1}">
            <a ng-click="tab = 1" href="#description">Description</a>
        </li>
        <li ng-class="{active: tab == 2}">
            <a ng-click="tab = 2" href="#description">Preview</a>
        </li>
        <li ng-class="{active: tab == 3}">
            <a ng-click="tab = 3" href="#description">Cheatsheet</a>
        </li>
    </ul>
    <div id="md" class="tab-member" ng-show="tab == 2">
        <markdown description="choropleth.description"></markdown>
    </div>
    <div class="form-group tab-member" ng-show="tab == 1">
        <textarea class="form-control choropleth-description" name="description" value="{{ choropleth.value }}" ng-model="choropleth.description"></textarea>
    </div>
    <div class="tab-member" ng-show="tab == 3">
        <markdown>
            {% include 'partials/markdown-cheatsheet.md' %}
        </markdown>
    </div>
    
    {% include 'partials/save_modal.html' %}

</form>
