<!doctype html>
{% load compressed %}
<html>
    <head>
        {% compressed_css 'main' %}
        {% compressed_js 'vendor' %}
        {% compressed_js 'app' %}
        {% compressed_js 'map-vendor' %}
        {% compressed_js 'map' %}
    </head>
    <style>
        body {
            padding-top: 0px;
        }
    </style>
    <body ng-app="App">
        <div id="export" ng-controller="ViewController" ng-init="init({{ choropleth.id }})">
          <div ng-if="hasData">
            <choropleth hide-legend="true"></choropleth>
          </div>
        </div>
    </body>
</html>
