{% extends "_layout.html" %}
{% load staticfiles %}
{% block page_title %}My Choropleths{% endblock page_title %}

{% block header %}My Choropleths{% endblock header %}

{% block content %}
{{block.super}}

    <div id="choropleth-grid">

        {% for object in object_list %}

            {% if not forloop.counter|divisibleby:"2"  %}
                <div class="row">
            {% endif %}

            <div class="col-sm-6 col-md-6 choropleth-grid-item">
                <div class="thumbnail">
                    <a href="{% url "choropleths:choropleth-view" object.id %}">
                        <img src="{{ object.thumbnail.url }}">
                    </a>
                    <div class="caption">
                        <a href="{% url "choropleths:choropleth-view" object.id %}">
                            <h4>{{ object.name|truncatechars:"60" }}</h4>
                        </a>
                        <p class="text-muted">Updated {{ object.modified_at|timesince }} ago</p>
                        <p>
                        <a href="{% url 'choropleths:choropleth-detail' object.id %}"><button class="btn btn-default btn-xs">Inspect</button></a>
                        <a href="{% url 'datasets:dataset-detail' object.dataset.id %}"><button class="btn btn-default btn-xs">Dataset</button></a>
                        </p>

                    </div>
                </div>
            </div>

            {% if forloop.counter|divisibleby:"2"  %}
                </div>
            {% endif %}

        {% endfor %}

    </div>

    {% include 'partials/pagination.html' %}

{% endblock content %}

